            /* Header */
            
            .header-fixed {
                background-color: #ffbd39;
                box-shadow: 0 1px 1px orange;
                height: 80px;
                color: #ffffff;
            }
            
            .header-fixed .header-limiter {
                display: flex;
                justify-content: space-between;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 1.2rem;
            }
            
            .header-fixed-placeholder {
                height: 80px;
                display: none;
            }
            
            .header-fixed .header-limiter h1 {
                float: left;
                line-height: 40px;
                margin: 0;
            }
            /* The navigation links */
            
            .header-fixed .header-limiter a {
                color: #ffffff;
                text-decoration: none;
            }
            
            .header-fixed .header-limiter nav {
                font: 16px Arial, Helvetica, sans-serif;
                line-height: 40px;
                float: right;
            }
            
            .header-fixed .header-limiter nav a {
                display: inline-block;
                padding: 0 5px;
                text-decoration: none;
                color: #ffffff;
                opacity: 0.9;
            }
            
            .header-fixed .header-limiter nav a:hover {
                opacity: 1;
            }
            
            .header-fixed .header-limiter nav a.selected {
                pointer-events: none;
                opacity: 1;
            }
            /* Logo */
            
            .img-responsive {
                padding-left: 10rem;
            }
            
            .logo {
                color: #3B3B3B;
                font-size: 200px;
                background: url("../img/logo.png") no-repeat;
            }
            
            h1.float-right {
                float: right;
            }
            
            h2.float-right {
                width: 87rem;
                font-family: Gotham-Thin;
            }
            /* Fixed version of the header */
            
            body.fixed .header-fixed {
                padding: 10px 40px;
                height: 50px;
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
            
            body.fixed .header-fixed-placeholder {
                display: block;
            }
            
            body.fixed .header-fixed .header-limiter h1 {
                font-size: 24px;
                line-height: 30px;
            }
            
            body.fixed .header-fixed .header-limiter nav {
                line-height: 28px;
                font-size: 13px;
            }
            
            body {
                margin: 0;
                padding: 0;
                background-color: #fdf6e4;
            }
            
            #logo {
                width: 100%;
            }
            
            #header.full-header #logo {
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid #EEE;
            }
            
            #header.transparent-header.full-header #logo {
                border-right-color: rgba(0, 0, 0, 0.1);
            }
            
            #logo a {
                display: block;
                color: #000;
            }
            
            #logo img {
                display: block;
                max-width: 6rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
            }
            
            #logo a.standard-logo {
                display: block;
            }
            
            #logo a.retina-logo {
                display: none;
            }
            /* ---- main heading --- */
            
            h3 {
                padding: 2.5rem;
                position: relative;
                font-size: 30px;
                z-index: 1;
                overflow: hidden;
                text-align: center;
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-transform: uppercase;
                font-family: Gotham-Thin;
                color: black;
            }
            
            h3:before,
            h3:after {
                position: absolute;
                top: 51%;
                overflow: hidden;
                width: 50%;
                height: 2px;
                content: '\a0';
                background-color: lightgrey;
            }
            
            h3:before {
                margin-left: -52%;
                text-align: right;
            }
            
            h3:after {
                margin-left: 2%;
                text-align: right;
            }
            
            .color {
                background-color: #ccc;
            }
            /* Content Section */
            /*  Two Columns */
            
            * {
                box-sizing: border-box;
            }
            
            .column {
                float: left;
            }
            
            .left {
                width: 25%;
            }
            
            .right {
                width: 75%;
                padding-top: 2.5rem;
                padding-left: 1.3rem;
            }
            /* Clear floats after the columns */
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            /* Card Section */
            
            .card {
                box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.2);
                transition: 0.2s;
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                background-color: #ffffff;
                border-radius: 0.3rem;
            }
            
            .card h3 {
                padding: 2px;
                margin: 8px 0;
                /*   line-height: 20px !important;
    font-size: 18px !important;
    font-weight: 500 !important; */
            }
            
            .card:hover {
                box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            
            .card .container {
                padding: 0px 0px;
            }
            
            .card p {
                margin: 1.2rem 1rem;
                font-size: 1rem;
                width: 83%;
            }
            
            .fruits-modal {
                color: #000000;
                text-decoration: none;
                font-family: Gotham-Bold;
                font-size: 1.3rem;
            }
            
            .fruit-subtitle {
                font-family: Gotham-thin;
                font-size: 1.3rem;
                color: slategrey;
                text-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.2);
            }
            
            .fruit-section {
                font-family: Gotham-XLight;
                color: slategray
            }
            
            .logo-title {
                font-family: Gotham-Medium;
                color: #ffffff;
            }
            
            .logo-subtitle {
                font-family: Gotham-Thin;
                display: flex;
                font-size: 1.3rem;
            }
            
            .content-image {
                width: 100%;
                padding-left: 4rem;
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
            
            .content-fruit {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 4rem;
                width: 100%;
            }
            
            .content-title {
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
            }
            
            .content-section {
                padding-left: 1rem;
            }
            
            .fruits-price {
                padding: 1rem;
                float: right;
                width: 14.3rem;
                color: #ffffff;
                font-family: 'GOTHAM-BOLD';
                background: linear-gradient(71deg, #ffffff 24%, #7cb645 0%);
                font-size: 1.2rem;
                text-align: right;
                padding-right: 1.8rem;
            }
            /*-- Modal Window --*/
            
            .modal {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: none;
                overflow: auto;
                background-color: #000;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 9999;
            }
            
            .modal-window {
                position: relative;
                background-color: #fff;
                border-radius: 6px;
                box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.5), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.2);
                width: 100%;
                max-width: 320px;
                max-height: 100%;
                margin: 6% auto;
                overflow-x: hidden;
                overflow-y: auto;
            }
            
            .modal-window>h2 {
                font-size: 2rem;
                font-weight: 400;
                margin: 0;
                padding: 0.8em 56px .8em 27px;
                font-family: 'GOTHAM-BOLD';
            }
            
            .modal-window>div {
                padding: 23px 27px;
            }
            
            .modal-window.large {
                margin-top: 1rem;
                width: 100%;
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            
            .open {
                display: block;
                transition: all 0.6s;
            }
            
            .image-modal {
                width: 100%;
            }
            
            .text-modal {
                font-family: "GOTHAM-XLight";
            }
            
            .price-modal {
                padding: 0.5rem;
                float: right;
                width: 100%;
                color: #ffffff;
                font-family: 'GOTHAM-BOLD';
                background: #7cb645;
                font-size: 0.9rem;
                text-align: right;
                padding-right: 2rem;
            }
            
            .footer-modal {
                font-family: 'Gotham-Bold';
                color: #ffffff;
                background-color: #ffbd39;
                text-align: left;
                padding-top: 3rem;
            }
            
            .footer {
                font-family: "Gotham-Bold";
                padding: 1rem;
                font-size: 1rem;
                background-color: #ffbd39;
                color: #ffffff;
                margin-top: 2rem;
            }
            /* Tablet Version */
            
            @media all and (max-width: 850px) {
                .header-fixed {
                    padding: 20px 0;
                    height: 75px;
                }
                .header-fixed .header-limiter nav {
                    line-height: 1;
                    float: none;
                }
                .header-fixed .header-limiter nav a {
                    font-size: 13px;
                }
                body.fixed .header-fixed {
                    display: none;
                }
                .img-responsive {
                    padding-left: 12rem;
                }
                .header-fixed .header-limiter h1 {
                    margin: -12px 0 10px;
                    text-align: center;
                    font-size: 17px;
                    line-height: 1;
                }
                h3 {
                    padding-left: 3rem;
                    padding-top: 3rem;
                }
                .row {
                    display: flex;
                    flex-direction: column;
                }
                .right,
                .left {
                    width: 100%;
                    padding-top: 0;
                    padding-left: 0;
                }
                .content-image,
                .content-fruit {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    width: 50%;
                    padding-left: 0;
                }
                .content-image {
                    padding-bottom: 3rem;
                }
                .content-title {
                    padding-left: 1rem;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                .fruit-section {
                    padding-bottom: 1rem;
                }
                .fruits-price {
                    padding: 0.9rem;
                    float: right;
                    width: 8.6rem;
                    font-size: 1rem;
                    padding-right: 0.4rem;
                }
                .fruit-title {
                    color: #000000;
                    text-decoration: none;
                }
            }
            /* Mobile Version */
            
            @media (max-width: 600px) {
                .img-responsive {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    padding-left: 4.5rem;
                }
                .header-fixed .header-limiter h1 {
                    margin: -12px 0 10px;
                    text-align: center;
                    font-size: 1rem;
                }
                .header-fixed .header-limiter {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 3rem;
                    padding-right: 2rem;
                    padding-top: 1rem;
                }
            }